<h1>A NodeJS View</h1>
{{!-- Commented code
	Code below accesses the parameter 'message' passed from the request object
	{{message}} 

--}}
{{email}}

<form action="/" method="post">
	<input type="email" name="email" />
	<button type="submit">Submit</button>
</form>